<div class="container mt-3">
  <%# <p>(<strong>Pages#home</strong> --> Find me in app/views/pages/home.html.erb)</p> %>
  <h1>Welcome to Balance Hunter ☯ Project Management</h1>
  <h4>&nbspIncrease productivity 🎧 & live with intention ◎</h4>
</div>
